.sidebar-section {
  background-color: rgb(27, 76, 237);
  width: 400px;
  height: 100vh;
}
.sidebar-heading {
  color: white;
  font-weight: 600;
  font-size: 28px;
  padding: 30px 0 0 0;
  display: flex;
  justify-content: center;
}

.sidebar-add-button {
  all: unset;
  width: 120px;
  height: 40px;
  background-color: yellow;
  border-radius: 30px;
  text-align: center;
  margin-left: 140px;
  margin-top: 40px;
}
